@charset "UTF-8";

// ****** breadcrumb section start ******
.breadcrumb-section {
  padding-bottom: 5px;
  & .breadcrumb-item {
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    & a {
      color: $theme1;
      text-decoration: none;
    }
  }
}
// ****** breadcrumb section end ******

// ****** whatsapp button start  ******
.whatsapp-common-btn {
  height: 37px;
  width: 37px;
  right: 15px;
  bottom: 80px;
  z-index: 2;
}
// ****** whatsapp button end ******

// ****** common button start ******
.custom-btn {
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  background-color: $theme2;
  border: none;
  border-radius: 4px;
  padding: 9px 22px;
  color: $white;
  transition: all 0.3s ease-in-out;
  & i {
      transition: all 0.3s ease-in-out;
      margin-left: 2px;
      font-size: 14px;
  }
  &:hover {
      background-color: darken($theme2, 10);
     & i {
      transform: translateX(5px);
     }
  }
}
// ****** common button end ******


// ****** navbar start ******
.navbar {
  & .navbar-brand {
    height: 50px;
  }
  & .navbar-nav {
    gap: 20px;
    & .nav-link {
      font-size: 16px;
      border-radius: 4px;
      line-break: normal;
      padding: 4px 8px;
      color: $black;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $theme1;
      }
    }
    & .passport-dropdown {
      & i {
       transition: all 0.3s ease-in-out;
       font-size: 15px;
      }
      & .accordion-button {
        &::after {
          display: none;
        }
      }
      & .passport-menu-main {
        padding: 7px 0px;
        transition: all 0.3s ease-in-out;
        border-radius: 0 0 4px 4px;
        & .passport-item {
          color: #737373;
          font-size: 14px;
          padding: 8px 13px;
          border-radius: 2px;
         
          &:hover {
            background-color: #4d4d4d23;
          }
        }
      }
    }
   
  }
  & .login-btn {
    background-color: $theme2;
    color: $white;
    padding: 10px 14px;
    line-break: normal;
    font-size: 16px;
    gap: 6px;
    transition: all 0.3s ease-in-out;
    line-height: normal;
    &:hover {
      background-color: darken($theme2, 4);
    }
  }
  & .whatsapp-btn {
    padding: 4px 12px;
    background: white;
    gap: 5px;
    & .whatsapp-icon {
      height: 25px;
      width: 25px;
      transition: all 0.3s ease-in-out;
      animation: crescendo 1.5s alternate infinite ease-in;
    }
    @keyframes crescendo {
      0%   {transform: scale(.9);}
      100% {transform: scale(1.3);}
    }
    & .chat-title {
      font-size: 15px;
      line-height: normal;
      color: $black;
      font-weight: 500;
      transition: all 0.3s ease-in-out;
    }
    & .chat-number {
      font-size: 14px;
      line-height: normal;
      margin-top: 4px;
      color: lighten($black, 40);
    }
    &:hover {
      & .whatsapp-icon {
        transform: scale(1.2);
      }
      & .chat-title {
        color: $theme1;
      }
    }
  }
  &.fixed-navbar {
    animation: fixedAnim 1s forwards; 
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: $white;
    & .topbar {
        display: none;
    }
  }
  @keyframes fixedAnim {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
  }
}

// navbar media query start 
@include media-breakpoint-up(lg) {
  .navbar-nav {
    & .passport-dropdown {
      & .nav-link {
        & i {
          margin: -3px 0 0 3px;
        }
      }
      & .passport-menu-main {
        transform: translateY(50px);
        opacity: 0;
        visibility: hidden;
        box-shadow: 0px 5px 7px 2px rgba(0, 0, 0, 0.3);
        margin-top: 18px;
        position: absolute;
        display: unset !important;
      }
      &:hover {
        i {
          transform: rotate(-180deg);
        }
        & .passport-menu-main {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
      }
     
    }
  }
}
@include media-breakpoint-down(lg) {
  .nav-offcanvas {
    max-width: 320px !important;
    & .btn-close {
      font-size: 13px;
    }
    & .offcanvas-title {
      height: 40px;
    }
    & .passport-dropdown {
      & .nav-link {
        &:not(.collapsed) {
          i {
            transform: rotate(-180deg);
          }
        }
      }
      & .passport-menu {
        width: 100%;
        position: unset !important;
        margin-top: 8px;
      }
      
    }
    & .navbar-nav {
      gap: 15px;
    }
  }
}
@include media-breakpoint-down(md) {
  .navbar {
    & .login-btn {
      padding: 8px 10px;
      line-break: normal;
      font-size: 15px;
      gap: 5px;
    }
    & .navbar-toggler {
      font-size: 18px;
      padding: 5px 12px;
    }
  }
}
// navbar media query end 

// ****** navbar end ******


// ****** login modal start  ******
.login-modal {
  & .login-dialog {
    max-width: 70%;
    & .form-heading {
      font-size: 36px;
      color: $white;
    }
    & .modal-title {
      font-size: 20px;
    }
    & .btn-close {
      font-size: 14px;
      right: 15px;
      top: 10px;
    }
    & .login-img {
      background: url(../img/login.jpg) no-repeat;
      background-size: cover;
      background-position: center;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba($black, 0.6);
      }
    }
    & .login-pills {
      background-color: $theme3;
      margin-bottom: 30px;
      & .nav-link {
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        font-weight: 500;
        color: $theme2;
        &.active {
          background-color: $theme2;
          color: $white;

        }
      }
    }
    & .form-group {
      & .input-label {
        font-size: 15px;
        color: $theme2;
        line-height: normal;
        margin: 0 0 4px;
      }
      & .form-input {
        font-size: 14px;
        height: 42px;
       &:focus {
        box-shadow: 0 0 0 0.25rem rgba($theme2,.25);
       }
        &::placeholder {
          font-size: 14px;
        }
      }
    }
    & .forgetpassword {
      font-size: 14px;
      color: $black;
      & a {
        color: $theme2;
      }
    }
  }
}

// login modal media query start 
@include media-breakpoint-down(lg) {
  .login-modal {
    & .login-dialog {
      max-width: 90%;
    }
  }
}
@include media-breakpoint-down(md) {
  .login-modal {
    & .login-dialog {
      max-width: 95%;
    }
  }
}
@include media-breakpoint-down(sm) {
  .login-modal {
    & .login-dialog {
      max-width: 100%;
    }
  }
}
// login modal media query end

// ****** login modal end ******


// ****** hero section start ******
.hero-section {
  background: url(../img/herosection2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba($black, 0.7);
    z-index: 0;
  }
  & .hero-heading {
    font-size: 46px;
    color: $white;
    line-height: 48px;
    & span {
      color: $theme1;
    }
  }
  & .hero-para {
    font-size: 20px;
    color: $white;
    line-height:28px;
    margin-top: 15px;
  }
  & .custom-btn {
    margin-top: 29px;
    padding: 13px 35px;
  }
  // & .custom-btn {
  //   padding: 14px 35px;
  // }
  & .hero-inner {
    width: 90%;
  }
}
.form-card {
  padding: 25px;
  & .input-label {
    font-size: 16px;
    margin: 0 0 7px 2px;
  }
  & .select2 {
    width: 100% !important;
    height: 42px;
    & .selection {
      height: 100%;
      display: flex;
    }
    & .select2-selection--single {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;
      font-size: 15px;
      border-color: #dee2e6 !important;
    }
    & .select2-selection__arrow {
      top: 50% !important;
      transform: translateY(-50%);
    }
  }
}

//  hero section media query start 
@include media-breakpoint-down(lg) {
  .hero-section {
    & .hero-heading {
      font-size:40px;
      line-height: 43px;
    }
    & .hero-inner {
      width: 100%;
    }
  }
}
@include media-breakpoint-down(md) {
  .hero-section {
    height: 100%;
    padding-block: 60px;
    & .hero-heading {
      font-size:36px;
      line-height: 40px;
    }
    & .hero-para {
      font-size: 19px;
      line-height:26px;
      margin-top: 10px;
    }
    & .custom-btn {
      margin-top: 15px;
    }

    & .hero-inner {
      width: 100%;
    }
  }
  .form-card {
    padding: 25px;
    & .input-label {
      font-size: 16px;
      margin: 0 0 7px 2px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .hero-section {
    padding-block: 50px;
    & .hero-heading {
      font-size:28px;
      line-height: 30px;
    }
    & .hero-para {
      font-size: 18px;
      line-height:23px;
      margin-top: 10px;
    }
    & .custom-btn {
      width: 100%;
      margin-top: 5px;
    }
  }
  .form-card {
    padding: 18px;
    & .input-label {
      font-size: 15px;
    }
  }
}
// hero section media query end

// ****** hero section end ******


// ****** feature section start ******
.feature-section {
  padding-block: 30px;
  & .xb-item-inner {
    gap: 12px;
  }
  & .xb-item-icon {
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    background-color: rgba($theme1, 0.2);
    padding: 9px;
  }
  & .xb-item-title {
    color: $black;
    font-size: 17px;
  }
}

// feature section media query start 
@include media-breakpoint-down(sm) {
  .feature-section {
    padding-block: 20px;
    & .xb-item-inner {
      gap: 9px;
    }
    & .xb-item-icon {
      height: 35px;
      min-width: 35px;
      max-width: 35px;
      padding: 9px;
    }
    & .xb-item-title {
      font-size: 16px;
    }
  }
}
// feature section media query end

// ****** feature section end ******


// ****** step section start ******
.step-section {
  & .step-card {
    & .step-img-main {
      border: 2px solid $theme2;
      height: 180px;
      width: 180px;
      transition: all 0.3s ease-in-out;
      & .step-img {
        height: 150px;
        width: 150px;
        background: url(../img/step1.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background-color: rgba($theme2, 0.6);
        }
      }
      & .step-img-two {
        background: url(../img/step2.jpg) no-repeat;
        background-position: center;
        background-size: cover;
      }
      & .step-img-three {
        background: url(../img/step3.jpg) no-repeat;
        background-position: center;
        background-size: cover;
      }
      & .step-img-four {
        background: url(../img/step4.jpg) no-repeat;
        background-position: center;
        background-size: cover;
      }
      & .step-count {
        font-size: 70px;
        font-weight: 700;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $white;
        -webkit-text-fill-color: transparent;
      }
    }
    & .step-heading {
      & h1, h2 ,h3 ,h4 ,h5 ,h6,p {
        font-size: 18px;
        margin: 15px 0 0 0px;
      }
    }
    &:hover {
      & .step-img-main {
        transform: translateY(-8px);
      }
    }
  }
}

// step section media query start 
@include media-breakpoint-down(md) {
  .step-section {
    & .step-card {
      & .step-img-main {
        height: 160px;
        width: 160px;
        & .step-img {
          height: 140px;
          width: 140px;
        }
        & .step-count {
          font-size: 60px;
        }
      }
      & .step-heading {
        & h1, h2 ,h3 ,h4 ,h5 ,h6,p {
          font-size: 17px;
          margin: 10px 0 0 0px;
        }
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .step-section {
    & .step-card {
      & .step-img-main {
        height: 150px;
        width: 150px;
        & .step-img {
          height: 130px;
          width: 130px;
        }
        & .step-count {
          font-size: 50px;
        }
      }
      & .step-heading {
        & h1, h2 ,h3 ,h4 ,h5 ,h6,p {
          font-size: 16px;
          margin: 10px 0 0 0px;
        }
      }
    }
  }
}
// step section media query end 

// ****** step section end ******


// ****** apply visa for all country section start ******
.allcountry-section {
  & .country-main-card {
    padding: 4px;
    transition: all 0.3s ease-in-out;
    & .flag-img  {
      height: 40px;
      width: 40px;
      margin-top: -25px;
      border: 2px solid $white;
      position: relative;
      z-index: 2;
    }
    & .coutnry-name {
      font-size: 18px;
      color: $black;
      margin-left: 3px;
      & i {
        color: $theme1;
      }
    }
    & .card-btn {
      font-size: 14px;
      background-color: $theme2;
      color: $white;
      padding: 6px 10px;
      line-height: normal;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: lighten($theme2, 4);
      }
    }
    &:hover {
      box-shadow: 0px 14px 19px 0px rgba(221, 229, 236, 0.42);
      border-color: $theme2 !important;
      transform: translateY(-5px);
    }
  }
  & .country-card-main {
    gap: 10px;
    & .country-card {
      padding: 14px ;
      transition: all 0.3s ease-in-out;
      border-radius: 5px;
      gap: 13px;
      & .country-flag {
        height: 45px;
        width: 45px;
        & img {
          object-fit: contain;
        }
      }
      & .country-title {
        font-size: 18px;
        color: $black;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
      &:hover {
        box-shadow: 0px 14px 19px 0px rgba(221, 229, 236, 0.42);
        border-color: $theme2 !important;
        transform: translateY(-5px);
        & .country-title {
          color: $theme2;
        }
      }
    }
  }
  & .country-card-main >* {
    flex: 0 0 19%;
    width: 19%;
  }
  & .view-all-btn {
    background-color: $theme1;
    transition: all 0.3s ease-in-out;
    color: $white;
    font-size: 16px;
    padding: 7px 22px;
    line-height: normal;
    & i {
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      background-color: lighten($theme1, 5);
      color: $white;
    }
    &:active {
      background-color: lighten($theme1, 5) !important;
      color: $white !important;
    }
    &:not(.collapsed) {
      & i {
        transform: rotate(-180deg);
      }
    }
  }
}

// apply visa for all country section media query start
@include media-breakpoint-down(lg) {
  .allcountry-section {
    & .country-card-main >* {
      flex: 0 0 23.60%;
      width:23.60%;
    }
  }
}
@include media-breakpoint-down(md) {
  .allcountry-section {
    & .country-card-main {
      & .country-card {
        padding: 10px ;
        gap: 10px;
        & .country-flag {
          height: 40px;
          width: 40px;
        }
        & .country-title {
          font-size: 17px;
        }
      }
    }
    & .country-card-main >* {
      flex: 0 0 32%;
      width:32%;
    }
  }
}
@include media-breakpoint-down(sm) {
  .allcountry-section {
    & .country-main-card {
      & .flag-img  {
        height: 35px;
        width: 35px;
        margin-top: -20px;
      }
      & .coutnry-name {
        font-size: 17px;
      }
    }
    & .country-card-main {
      gap: 7px;
    }
    & .country-card-main >* {
      flex: 0 0 48%;
      width: 48%;
    }
    & .view-all-btn {
      font-size: 15px;
    }
  }
}
// apply visa for all country section media query end

// ****** apply visa for all country section end ******


// ****** why choose us section start ******
.whychoose-us-section {
  & .choose-card {
    background-color: lighten($primary, 47);
    padding:12px 8px;
    & .choose-icon {
      height: 35px;
      width: 35px;
      margin:0 15px 0 5px;
    }
    & .choose-title {
      padding-inline: 15px;
      font-size: 16px;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 35px;
        width: 1px;
        background-color: lighten($black, 80);
      }
    }
  }
}

// why choose us section start
@include media-breakpoint-down(sm) {
  .whychoose-us-section {
    & .choose-card {
      & .choose-icon {
        height: 30px;
        width: 30px;
      }
    }
  }
}
// why choose us section end

// ****** why choose us section end ******


// ****** counter section start ******
.counter-section {
  & .count-card {
    padding: 20px;
    & .count-digit {
      color: $theme2;
      font-weight: 700;
      font-size: 24px;
    }
    & .count-title {
      font-size:18px;
     font-weight: 500;
    }
  }
}

// counter section media query start
@include media-breakpoint-down(lg) {
  .counter-section {
    & .counter-card-two {
      border-right: none !important;
    }
  }
}
@include media-breakpoint-down(md) {
  .counter-section {
    & .count-card {
      & .count-digit {
        font-size: 23px;
      }
      & .count-title {
        font-size:17px;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .counter-section {
    & .counter-border-card {
      border: none !important;
      border-bottom: 1px solid lighten($black, 88) !important;
    }
    & .count-card {
      padding: 15px;
      & .count-digit {
        font-size: 22px;
      }
      & .count-title {
        font-size:16px;
      }
    }
  }
}
// counter section media query end

//****** counter section end ******


// ****** download section start ****** 
.download-section {
  & .download-btn {
    width: 150px;
  }
  & .download-img {
    height: 400px;
  }
  & p {
    color: lighten($black, 40);
  }
}

// download section media query start
@include media-breakpoint-down(md) {
  .download-section {
    & .download-btn {
      width: 140px;
    }
    & .download-img {
      height: auto;
    }
  }
}
@include media-breakpoint-down(sm) {
  .download-section {
    & .download-btn {
      width: 130px;
    }
  }
}
// download section media query end

// ******  download section end ****** 



// ****** how it work section start ******
.howwork-section {
  & .work-tab {
    background-color: lighten($black, 85);
    padding: 8px;
    & .nav-item {
      width: 25%;
    }
    & .nav-link {
      color: $black;
      font-size: 16px;
      transition: all 0.3s ease-in-out;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      white-space: nowrap;
      &.active {
        background-color: $theme2;
        color: $white;
        box-shadow: 0 0.5rem 1rem rgba($theme2, 0.15) !important;
      }
    }
  }
  & .card {
    padding: 18px;
    background: linear-gradient($white 50%, $theme2 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 6px;
      transition: 0.3s;
    & .icon-wrapper {
      background-color: $theme2;
      height:70px;
      width: 70px;
      color: $white;
      transition: 0.5s;
      padding: 20px;
      & img {
        filter: brightness(0) invert(1);
      }
    }
    & .card-heading {
      & h3 {
        font-size: 16px;
        font-weight: 600;
        color: $black;
        margin: 1em 0;
        text-transform: capitalize;
        position: relative;
        line-height: 23px;
      }
    }
    & .card-para {
      & p {
        color: lighten($black, 40);
        font-size: 15px;
        letter-spacing: 0.03em;
      }
    }
    &:hover {
      background-position: 0 100%;
      & .icon-wrapper {
        background-color: $white;
        color: $theme2;
        & img {
          filter:none;
        }
      }
      & .card-heading {
        & h3 {
          color: $white;
          &::before {
            background-color: $white;
          }
        }
      }
      & .card-para {
        & p {
          color: $white;
        }
      }
    }
  }

}

// how it work section media query start 
@include media-breakpoint-down(md) {
  .howwork-section {
    & .work-tab {
      gap: 6px 0;
      & .nav-item {
        width: 50%;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .howwork-section {
    & .work-tab {
      gap: 6px 0;
      & .nav-item {
        width: 100%;
      }
      & .nav-link {
        font-size: 15px;
        text-align: start;
      }
    }
  }
}
// how it work section media query end 

// ****** how it work section end ******



// ****** trustpilot section start ******
.testimonial-section {
  & .testimonial-card {
    & .user-img {
      height: 40px;
      width: 40px;
    }
    & .card-data {
      padding: 15px;
    }
    & .card-head {
      font-size: 16px;
      color: #000;
      line-height: normal;
    }
    & .card-para {
      font-size: 15px;
      line-height: 21px;
      margin-top: 12px;
      color: #4e4e4e;
    }
    & .quote {
      color: #4d4d4d;
      font-size: 20px;
    }
    & .testimonial-footer {
      padding: 15px;
      background-color: #dfdfdf;
    }
    & .star-img {
      width: 120px;
    }
    & .date {
      font-size: 14px;
      color: #000;
      & .date-icon {
        color: #333333;
        margin-right: 5px;
      }
    }
  }
}

// trustpilot section media query start
@include media-breakpoint-down(sm) {
  .testimonial-section {
    & .testimonial-card {
      & .user-img {
        height: 35px;
        width: 35px;
      }
      & .quote {
        font-size: 16px;
      }
      & .star-img {
        width: 100px;
      }
    }
  }
}
// trustpilot section media query end

// ****** trustpilot section end ******



// ****** faq section start ******
.faq-section {
  & .accordion-button {
    font-size: 18px;
    background-color: #f8fafc !important;
    padding-right: 35px;
    &::after {
      font-family: FontAwesome;
      content: "\2b";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background: lighten($black, 80);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: normal;
      transition: all 0.3s ease-in-out;
    }
    &:not(.collapsed) {
      color: $theme1;
      &::after {
        background-image: none;
        content: "\f068";
        background: $theme1;
        transform: translateY(-50%) rotate(-180deg);
        color: $white;
      }
    }
   
  }
  & .accordion-body {
    font-size: 16px;
    line-height: 26px;
  }
}

// faq section media query start
@include media-breakpoint-down(md) {
  .faq-section {
    & .accordion-button {
      font-size: 17px;
    }
    & .accordion-body {
      font-size: 15px;
      line-height: 24px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .faq-section {
    & .accordion-button {
      font-size: 16px;
      &::after {
        height:20px;
        width: 20px;
        font-size: 13px;
      }
    }
  }
}
// faq section media query end

// ****** faq section end ******



// ****** footer start ****** 
.footer-section {
  padding-block: 50px;
  background-color: #0c184fe6;
  & .footer-logo {
      width: 120px;
  }
  & .footer-para {
      font-size: 15px;
      color: $white;
      margin-top: 15px;
      margin-bottom: 0;
  }
  & .footer-heading {
      font-size: 20px;
      line-height: normal;
      color: $white;
      margin-bottom: 25px;
      position: relative;
      font-weight: 500 !important;
      letter-spacing: 0.7px;
      &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -4px;
          height: 2px;
          width: 40px;
          background-color: $theme1;
      }
  }
  & .footer-link {
      font-size: 16px;
      transition: all 0.3s ease-in-out;
      line-height: normal;
      color: $white;
      & i {
        margin-right: 4px;
      }
      &.footer-link-two {
        &:hover {
            color: darken($white, 25);
        }
      }
  }
  & .footer-list {
      gap: 15px;
      margin-bottom: 0;
  }
  & .payment-main {
    margin-top: 34px;
      & h4 {
          color: $white;
          font-size: 18px;
      }
      & .pay-list {
          gap: 10px;
      }
  }
  & .social-list {
      gap: 15px;
      & .social-icon {
          height: 40px;
          width: 40px;
          font-size: 16px;
          color: $white;
          z-index: 1;
          transition: all 0.3s ease-in-out;
          background: #4267B2;
          & i {
              transition: all 0.3s ease-in-out;
          }
          &.twitter {
            background: #1DA1F2;
          }
          &.instagram{
            background: #E1306C;
          }
          &.google{
            background: #0077B5;
          }
          &:hover {
             background-color: $white;
              & i {
                  color: $theme2;     
              }
              &::before {
                  transform: scale(0);
              }
          }
      }
  }
}

// footer media query start
@include media-breakpoint-down(md) {
  .footer-section {
    & .footer-heading {
      font-size: 19px;
      margin-bottom: 20px;
    }
    & .footer-list {
        gap: 12px;
    }
    & .payment-main {
      margin-top: 45px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .footer-section {
    padding-block: 40px;
    & .footer-heading {
      font-size: 18px;
      margin-bottom: 15px;
    }
    & .footer-link {
        font-size: 15px;
        & i {
          font-size: 14px;
        }
    }
    & .footer-list {
        gap: 8px;
    }
    & .payment-main {
      margin-top: 38px;
    }
    & .social-list {
        gap: 10px;
        & .social-icon {
            height: 35px;
            width: 35px;
            font-size: 15px;
        }
    }
  }
}
// footer media query end

// ******  footer end ****** 



// ****** copy right section start ******
.copyright-section {
  background-color: #0c184fd9;
  padding-block: 15px;
  border-top: 1px dashed $white;
  & p {
      color: $white;
  }
}

//  copy right section media query start
@include media-breakpoint-down(sm) {
  .copyright-section {
    & p {
      font-size: 15px;
    }
  }
}
// copy right section media query end

// ****** copy right section end ******



// ****** form section start ******
.form-section {
  & .country-name {
    & p {
      font-size: 18px;
      color: $theme2;

    }
  }
  & .card-header {
    background: #f8fafc;
    padding-block: 14px;
  }
  & .form-heading {
    & h2 {
      color:$black;
      line-height: normal;
    }
  }
  & .progress-list{
    margin-bottom: 30px;
    overflow: hidden;
    color:lighten($black, 40);
    &.active {
      color: $theme2;
    }
    & li {
      width: 25%;
      float: left;
      & span {
        font-size: 17px;
        font-weight: 500;
        color: lighten($black, 50);
      }
      &::before {
        width: 40px;
        height: 40px;
        line-height: normal;
        font-size: 18px;
        color:$white;
        background: lighten($black, 80);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        margin-left: 9px;
      }
      &::after {
        content: '';
        width: 100%;
        height: 2px;
        background:lighten($black, 80);
        position: absolute;
        left:12px;
        top: 25px;
        z-index: -1;
      }
      &.active {
        & span {
          color: $black;
        }
        &:before {
          background: $theme2;
        }
        &:after {
          background: $theme2;
        }
      }
    }
    & .tripdetail {
      &:before {
        content: "1";
      }
    }
    & .yourinfo {
      &:before {
        content: "2";
      }
    }
    & .services {
      &:before {
        content: "3";
      }
    }
    & .checkout {
      &:before {
        content: "4";
      }
    }
  }
  & .input-card {
    padding: 20px 15px 40px;
  }
  & .form-inner-heading {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 4px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 2px;
      width: 50px;
      background-color: $theme2;
      border-radius: 4px;
    }
  }
  & .form-inner-subheading {
    font-size: 20px;
    font-weight: 500;
  }
  & .input-main {
    & .input-label {
      font-size: 16px;
      color: lighten($black, 0);
      margin-bottom: 8px;
      margin-left: 2px;
      font-weight: 500;
      & span {
        color: $red;
      }
    }
    & .form-input {
      font-size: 15px;
      color: $black;
      height: 42px;
      position: relative;
      &:focus {
        border: 2px solid $theme2;
      }
    }
    & input[type="date"]::before {
      content: '';
      position: absolute;
      right: 13px;
      top: 50%;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      background: url(../img/date.svg) no-repeat;
      background-size: contain;
      background-position: center;
    }
    & input[type="date"]::-webkit-calendar-picker-indicator {
      background: transparent;
      bottom: 0;
      color: transparent;
      cursor: pointer;
      height: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
    }
  }
  & .checkbox {
    accent-color: $theme2;
    height: 20px;
  }
  & .privacy-policy-title {
    font-size: 15px;
    margin-left: 8px;
    line-height: 16px;
    color: lighten($black, 20);
    font-weight: 500;
  }
  & .number-field {
    & .iti {
        display: flex;
        align-items: center;
        width: 100%;
        & .iti__flag-container {
            position: unset;
            height: 45px;
            // border-right: 1px solid lighten($black, 88);
        }
        & .iti__country-list {
            width: 100%;
        }
    }
  }
  & .action-button {
		background: $theme2;
		color: $white;
		cursor: pointer;
		padding: 7px 27px;
		transition: all 0.3s ease-in-out;
    font-weight: 500 !important;
    font-size: 16px;
    text-decoration: none;
    & i {
      font-size: 14px;
      transition: all 0.3s ease-in-out;
    }
    &.action-button-two {
      width: 300px;
      padding-block: 8px;
    }
    &:hover {
      & i {
        transform: translateX(5px);
      }
    }
    &.previous {
      background-color: lighten($black, 50);
      &:hover {
        & i {
          transform: translateX(-5px);
        }
      }
    }
	}
  & .form-card-main {
    fieldset {
      &:not(:first-of-type) {
        display: none;
      }
    }
  }
  & .card-data-main {
    padding-block: 10px;
  }
  & .checkout-card {
    top: 75px;
    z-index: 0;
    & .checkout-title {
      font-size: 16px;
      color: $black;
      font-weight: 600;
      line-height: normal;
    }
    & .checkout-price {
      font-size: 15px;
      color: lighten($black, 0);
      font-weight: 500;
      line-height: 18px;
    }
    & .checkout-data {
      margin-top: 4px;
      font-size: 15px;
      color: lighten($black, 50);
      & p {
        font-size: 15px;
        color: lighten($black, 50);
      }
    }
    & .checkout-footer {
      background-color: rgb(248, 250, 252, 1);
    }
    & .checkout-price-two {
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
    }
    & .security-icon {
      height: 17px;
      margin-top: 3px;
      margin-right: 2px;
    }
    & .secure-heading {
      font-size: 14px;
      line-height: normal;
      font-weight: 500;
    }
    & .secure-title {
      font-size: 13px;
      color: lighten($black, 40);
      & a {
        color: $theme2;
      }
    }
  }
}

// form section media query start 
@include media-breakpoint-down(sm) {
  .form-section {
    & .form-heading {
      & h2 {
        font-size: 22px;
        line-height: 28px;
      }
    }
    & .progress-list{
      margin-bottom: 20px;
      & li {
        width: 25%;
        & span {
          font-size: 15px;
        }
        &::before {
          width: 35px;
          height: 35px;
          font-size: 16px;
        }
        &::after {
          top: 20px;
        }
      }
    }
    & .input-card {
      padding: 18px 12px 30px;
    }
    & .form-inner-heading {
      font-size: 21px;
      padding-bottom: 2px;
    }
    & .input-main {
      & .input-label {
        font-size: 15px;
        margin-bottom: 6px;
      }
      & input[type="date"]::before {
        height: 18px;
        width: 18px;
      }
    }
    & .privacy-policy-title {
      font-size: 14px;
    }
    & .action-button {
      padding: 6px 23px;
      font-size: 15px;
      &.action-button-two {
        width: 300px;
        padding-block: 8px;
      }
    }
    & .checkout-card {
      & .secure-title {
        line-height: 14px;
        margin-top: 4px;
      }
    }
  }
}
// form section media query end

// ****** form section end ******



// ****** apply section start ******
.apply-section {
  & .form-card {
    background-color: #f8fafc;
  }
  & .alert-msg {
    & .alert-icon {
      font-size: 15px;
      color: $danger;
    }
    & .alert-title {
      font-size: 15px;
      color: $danger;
      font-weight: 500;
      text-transform: capitalize;
    }
    & .alert-detail {
      font-size: 14px;
      line-height: 18px;
      margin-top: 2px;
      & p {
        margin: 0;
      }
    }
    &.alert-msg-two {
      & .alert-icon {
        color: $success;
      }
      & .alert-title {
        color: $success;
      }
    }
  }
  & .price-card {
    border: 2px solid lighten($black, 90);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      background-color: $white;
      border-radius: 50%;
      top: 12px;
      right: 12px;
      transition: 0.25s ease;
      border: 2px solid lighten($black, 80);
    }
    & .card-head {
      padding: 12px 14px;
      background-color: #f8fafc;
      & p {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 500;
      }
    }
    & .visa-heading {
      padding-block: 16px;
      & h5 {
        font-size: 20px;
        color: $theme2;
        margin: 0 ;
        font-weight: 600;
      }
    }
    & .visa-type {
      gap: 8px;
      & li {
        font-size: 15px;
        font-weight: 500;
        & span {
          font-weight: 400;
        }
      }
    }
  }
  & .checkbox-input {
    &:checked + .price-card {
      border-color: $theme2;
      box-shadow: 0 5px 10px rgba($black, 0.1);
      transform: translateY(-5px);
      &:before {
        transform: scale(1);
        opacity: 1;
        background-color:$theme2;
        border-color: $theme2;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }
  }
  
  
}

// apply section media query start 
@include media-breakpoint-down(sm) {
  .apply-section {
    & .price-card {
      & .visa-type {
        margin-bottom: 5px;
        gap: 6px;
        & li {
          font-size: 14px;
          & span {
          }
        }
      }
    }
  }
}
// apply section media query end

// ****** apply section end ******



// heading section start 
.page-heading {
  height: 350px;
  background: url(../img/blog.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($black, 0.4);
  }
  & .heading-section-heading {
    & h2 {
      font-size: 54px;
      color: $white;
      font-weight: 600;
    }
  }
}
// heading section end

// visa requirement content section start
.content-section {
  & .content-card-main {
      padding: 20px;
      & .show-few-lines {
          display: -webkit-box;
          overflow : hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical; 
      }
      & .content-heading {
          font-size: 21px;
          font-weight: 500;
      }
      & .read-more-btn {
          font-size: 16px;
          color: $white;
          background-color: $theme1;
          padding: 6px 20px;
          transition: all 0.3s ease-in-out;
          border-radius: 3px;
          text-decoration: none;
          z-index: 1;
      }
      & ul {
          display: flex; 
          flex-direction: column;
          gap: 4px;
      }
      & p, ul li  {
          font-size: 16px;
          line-height: 25px;
      }
      & h1, h2 , h3 {
          font-size: 26px;
      }
  }
}
@include media-breakpoint-down(md) {
  .content-section {
    & .content-card-main {
        padding: 20px;
        & .read-more-btn {
            font-size: 15px;
            padding: 5px 18px;
        }
        & p, ul li  {
            font-size: 15px;
            line-height: 23px;
        }
        & h1, h2 , h3 {
            font-size: 24px;
        }
    }
  }
}

@include media-breakpoint-down(sm) {
  .content-section {
    & .content-card-main {
        padding: 15px;
        & h1, h2 , h3 {
            font-size: 22px;
        }
        & ul {
          padding-left: 20px;
        }
    }
  }
}
// visa requirement content section end



// ****** blog page start  ******
.blog_area {
  & .blog_left_sidebar {
    gap: 30px;
  }
  & .blog_item {
    & .blog_item_img {
      aspect-ratio: 5/3;
    }
    & .blog_item_date {
      font-size: 16px;
      background-color: $theme1;
      padding: 9px 14px;
      line-height: normal;
      bottom: 8px;
      left: 8px;
      color: $white;
      font-weight: 500;
      border-radius: 3px;
    }
  }
  & .blog_details {
    padding: 22px 15px;
    & .blog-info-link {
      gap: 13px;
      & li {
        padding-right: 13px;
        font-size: 15px;
        &.blog-category {
          &::before {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 14px;
            width: 1px;
            background-color: lighten($black, 40);
            
          }
        }
        & i {
          color: $theme1;
          margin-right: 2px;
        }
      }
    }
    & .blog-heading {
      & >* {
        font-size: 33px;
        font-weight: 500;
        color: darken($blue, 40);
        font-weight: 500;
        transition: all 0.3s ease-in-out ;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        &:hover {
          color: $theme1;
        }
      }

    }
    & .blog-para {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      & P {
        font-size: 16px;
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }
  & .social-share-wrapper {
    & .social-share-icon_btn {
      font-size: 22px;
      color: $theme1;
    }
    & .social-icons{
      display: none;
      transform: translateX(-30%);
      transition: all .8s;
      & ul {
        gap: 8px;
        padding-left: 20px;
      }
      & a {
        height: 35px;
        width: 35px;
        border: 1px solid $black;
        color: $black;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: $theme1;
          border-color: $theme1;
          color: $white;
        }
      }
    }
    & .show{
      display: block;
      transform: translateX(0%);
    }
  }
  & .blog-right-card-heading {
    padding: 13px 15px;
    background-color: #f8fafc;
    & >* {
      font-size: 23px;
      font-weight: 600;
      margin: 0 ;
    }
  }
  & .blog-card {
    top: 75px;
    z-index: 0;
    & .small-card-inner {
      padding: 15px;
    }
    & .blog-small-card {
      padding-top: 16px;
      & .blog-small-card-img {
        height: 85px;
        & img {
          transition: all 0.3s ease-in-out;
          object-fit: cover;
        }
      }
      & .small-card-date {
        font-size: 15px;
        color: lighten($black, 50);
        & i {
          color: $theme1;
          margin-right: 2px;
        }
      }
      & .small-card-heading {
        font-size: 17px;
        font-weight: 500;
        color:$black;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 22px;
        margin-top: 5px;
        &:hover {
          color: $theme1;
        }
      }
      &:hover {
        & .blog-small-card-img {
          & img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
// ****** blog page end ******


// ****** blog details page start ******
.blog-detail {
  & .blog_details {
    & .blog-para {
      display: flex;
      flex-direction: column;
    }
  }

}
// ****** blog details page end ******


// ****** blog media query start ******
@include media-breakpoint-down(md) {
  .blog_area {
    & .blog_item {
    }
    & .blog_details {
      & .blog-heading {
        & >* {
          font-size: 28px;
        }
  
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .blog_area {
    & .blog_left_sidebar {
      gap: 24px;
    }
    & .blog_item {
      & .blog_item_img {
        aspect-ratio: 6/3;
      }
      & .blog_item_date {
        font-size: 15px;
      }
    }
    & .blog_details {
      padding: 18px 12px;
      & .blog-info-link {
        gap: 10px;
        & li {
          padding-right: 10px;
          font-size: 14px;
        }
      }
      & .blog-heading {
        & >* {
          font-size: 24px;
        }
  
      }
      & .blog-para {
        & P {
          font-size: 15px;
        }
      }
      
    }
    & .social-share-wrapper {
      & .social-share-icon_btn {
        font-size: 20px;
      }
      & .social-icons{
        & ul {
          gap: 6px;
          padding-left: 15px;
        }
        & a {
          height: 30px;
          width: 30px;
          &:hover {
          }
        }
      }
    }
    & .blog-right-card-heading {
      padding: 10px 12px;
      & >* {
        font-size: 21px;
      }
    }
    & .blog-card {
      & .small-card-inner {
        padding: 12px;
      }
      & .blog-small-card {
        & .small-card-heading {
          font-size: 16px;
          line-height: 21px;
        }
      }
    }
  }
}
// ****** blog media query end ******

